.inferior {
    position: absolute;
    bottom: 0px;
    
  }

  ion-icon.iconhome {
    margin: 20px 50px -15px 50px;
    font-size: 30px;
  }

  ion-icon.iconsearch {
    margin: 20px 50px -15px 50px;
    font-size: 30px;
  }

  ion-icon.iconlibreria {
    margin: 20px 50px -15px 50px;
    font-size: 30px;
  }

  .fotos {
    position:absolute;
  }

  .divbusqueda {

    margin: 20px 50px 20px 20px;
  }