<ion-app>
<div class="divpadre">
  <ion-item class="item1" lines="none" color="negro" >
    <ion-label class="escuchados">Escuchados recientemente</ion-label>
  </ion-item>



  <div style="display:flex;" id="hijo">
    <div class="divrem">
        <img src="assets/remastered.png" width="80" height="80" class="remastered" >
        <p class="ion-text-center" id="rem">1(Remastered)</p>
    </div>
    
    <div class="divzoe">
        <img src="assets/logozoe.jpg" alt="Banda Zoé" width="80" height="80" class="zoe">
        <p class="ion-text-center">Zoé</p>
    </div>
    
    <div>
        <img src="assets/leonlarregui.jpg" alt="León Larregui" width="80" height="80" class="leon">
        <p class="ion-text-center">León Larreguí </p>
    </div>
    
    <div>
        <img src="assets/reyno.jpg" alt="Banda Reyno" width="80" height="80" class="reyno">
        <p class="ion-text-center">Reyno</p>
    </div>
  </div>

  <div >
    <ion-item class="item1" lines="none" color="negro" >
      <ion-label class="escuchados">Mis playlist</ion-label>
    </ion-item>

    <div style="display:flex;" id="hijo">
      <div>
          <img src="assets/foto1.png" alt="playlist 1" width="120" height="120" class="foto">
      </div>
      
      <div >
          <img src="assets/foto2.png" alt="playlist 2" width="120" height="120" class="foto">
      </div>
      
      <div>
          <img src="assets/foto3.png" alt="playlist 3" width="120" height="120" class="foto">
      </div>
    </div>

  </div>

  <div class="inferior" >
    <ion-item class="item1" lines="none" color="negro">
      <div>
        <ion-icon routerLink="/homeinicio" class="iconhome" color="gris" name="home-sharp">  </ion-icon>
        <p class="ion-text-center">Inicio</p>
      </div>
      
      <div>
        <ion-icon routerLink="/busqueda" class="iconsearch" color="gris" name="search-outline">  </ion-icon>
        <p class="ion-text-center">Buscar</p>
      </div>
      
      <div>
        <ion-icon routerLink="/libreria" class="iconlibreria" color="gris" name="library-sharp">  </ion-icon>
        <p class="ion-text-center">Libreria</p>
      </div>
    </ion-item>
  </div>
</div>
</ion-app><div>
  

<!--<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
<br>
<br>
  <div  class="posicion">
    <ion-label class="labelCorreo">¿Cómo te llamas?</ion-label>
    <ion-textarea class="cajatexto" placeholder="Ingresa un nombre"></ion-textarea>
    <ion-label class="label5">--------------------------------------------------------------------</ion-label>
    <div>
      <br>
      <ion-label class="label1">Acepta los terminos y condiciones<br></ion-label>
      <br>
      <ion-label class="label2">Terminos de uso<br></ion-label>
      <br>
      <ion-label class="label3"></ion-label>
      <ion-checkbox class="label3">Acepto los terminos de uso y politicas de privacidad de mi app de música<br></ion-checkbox>
      <ion-label class="label4"></ion-label>
    </div>
    
  </div>

  
</ion-content>-->

<!--<ion-content>
  <ion-button routerLink="/login" class="siguiente">Siguiente</ion-button>
</ion-content>-->